
  
  #footer {
    background-color: blue;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;            /* Footer height */
  }


  #header {
    background-color: blue;
    position: absolute;
    top: 0;
    width: 100%;
    height: 10%;            /* Footer height */
  }

  .login {
    position: relative;
    top: 20%;
    left: 25%;
    width: 50%;
    height: 60%;
    background-color: white;
  }

  #main {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 25%;
    width: 50%;
    height: 60%;
    background-color: gray;
  }